.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px;
  position: relative;
}
.box {
  width: 200px;
  height: 200px;
  background-color: yellow;
}

.mustache {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: absolute;

  color: black;
  box-shadow: 150px 240px 0px 0px currentColor, 300px 240px 0px 0px currentColor;
}

.mustache::before {
  content: "";
  position: absolute;
  width: 210px;
  height: 120px;
  border-bottom: solid 180px currentColor;
  background-color: red;
}
